@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


main{
    z-index: 5;
    position: relative;
    background-image: url(../image/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

iframe{
    width: 280px;
    height: 480px;
    position: absolute;
    left: 340px;
    top: 240px;
    z-index: 6;
}

.bg-iphone{
    z-index: 5;
    position: relative;
    background-image: url(../image/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

